# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main
variables:
  buildConfiguration: 'Release'
  containerImage: 'copper-consumption-api'
  tag: $(Build.BuildId)
  webAppName: 'copper-consumption-api'
  registryName: 'fgutierrezdocker'

stages:
- stage: 'Build'
  displayName: 'Build and push'
  jobs:
  - job: 'Build'
    displayName: 'Build job'
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
    - task: Docker@2
      displayName: Build and push the image to container registry
      inputs:
        containerRegistry: 'DockerHubServiceConnection'
        repository: '$(containerImage)'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        buildContext: '$(Build.Repository.LocalPath)/src'
        tags: '$(tag)'

- stage: 'Deploy'
  displayName: Deploy the container
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy Job
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
    - task: AzureWebAppContainer@1
      inputs:
        azureSubscription: 'AppServiceConnection'
        appName: '$(webAppName)'
        containers: '$(registryName)/$(webRepository):$(tag)'

